/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: auto;
  background-color: #ffffff;
  background-image: url("../templates/image/Back_ground_img.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: aqua;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(19, 43, 222);
}

ul {
  list-style-type: none;
  padding: 0;
  column-rule-color: brown;
}

li {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: blue;
}

p {
  margin: 10px 0;
  align-items: first baseline;
}

/* Add more custom styling here */
